<div class="container mt-5">
  <div class="row p-5">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <th scope="row">{{account._id}}</th>
          <td>{{account.userName}}</td>
          <td>{{account.email}}</td>
          <td>{{account.admin}}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
